body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	height: 100vh;
	font-family: 'Aref Ruqaa', serif;
	background-image: url('./Images/bg.jpg');
	background-size: cover;
	background-position: top;
}

.Logo {
	margin-bottom: 0;
	color: #E3FAF6 ;
	text-align: center;
	font-size: 3rem;
}

.LogoText {
	margin: 0.5rem 0 2rem 0;
	color: #E3FAF6;
	text-align: center;
}

.navContent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius: 5px;
	padding: 1rem 3rem 1rem 3rem;
	list-style-type: none;
	background: linear-gradient(to left, rgb(0, 23, 29, 0.8), rgb(0, 0, 0, 0.8));
}

.navA {
	text-decoration: none;
	color: #E3FAF6;
	text-transform: uppercase;

}

.navA:hover {
	color: teal;
}

img {
	object-fit: cover;
	width: 45rem;
}

.mainContent {
	margin: 4rem 0 1rem 0;
	list-style-type:none;
	text-align: center;
	color: #E3FAF6;
}

.header {
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

.mainText {
	background-color: white;
	color: black;
	padding: 0 10rem 1.5rem 10rem;
}

.mainText h1 {
	text-align: center;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	border-radius: 5px;
	margin-bottom: 0;
	padding: 1rem;
	background: linear-gradient(to left, rgb(0, 23, 29, 0.8), rgb(0, 0, 0, 0.8));
	color: #E3FAF6 ;
}

input {
	font-family: 'Aref Ruqaa', serif;
	padding: 0.4rem;
	margin-left: 0.5rem;
	width: 20em;
	-webkit-appearance: none;
}

.subscribeBtn {
	font-family: 'Aref Ruqaa', serif;
	text-transform: uppercase;
	margin-left:  0.5rem;
	padding: 0.4rem;
	-webkit-appearance: none;
	background: #272E2D ;
	color: #E3FAF6;
	border-color: #272E2D ;
	box-shadow: 2px 2px black;
}

.subscribeBtn:hover {
	background: teal;
	cursor: pointer;
}
